.name {
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    line-height: 20px;
    height: 40px;
}
body {
    margin-top: 80px;
}
#submit1 {
    margin-top: 20px;
    width: 20%;
    margin-right: 35%;
    margin-left: 35%;
    background-color:  #4CAF50    ;
    color: white;
    height: 40px;
}
.err {
    color: red;
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
}
#Error2 {
    color: red;
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
}
h1 {
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
   text-align: center;
}